<div class="adddc">
 {{!-- <img src="https://blog.epayco.com/wp-content/uploads/2020/10/1_SvtF4kmd8mKZdQ6hLLMh8w.jpeg" width="1425" height="884"> --}}

 <img src="../../images/tyty.gif" width="1615" height="988">
</div>