<html>
<head>
    <style>
        body {
            background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
 <!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
<link rel="stylesheet" type="text/css" href="styles.css">

 <div class="bg" id="loginnn">

<div class="container login-container">
<div class="row">
<div class="col-md-6 login-form-1">
<h3>ACCOUNT LOGIN</h3>
<form method="post" action="">
<div class="form-group">
<input type="text" class="form-control" placeholder="Your Email " value="" name="email" />
</div>
<div class="form-group">
<input type="password" class="form-control" placeholder="Your Password " value="" name="pass" />
</div>
<div class="form-group">
 <input class="btnSubmit" type="submit" value="Login"style="text-align: center;"><button type="button" class="btnSubmit">Forget Password</button>
<a href="/reg"> <input class="btnSubmittt" value="Register"style="text-align: center;"></a>
</div>
</form>
</div>
</body>
</html>